In [1]:
#Load in the essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import permutations,combinations
from collections import Counter

In [3]:
#create a function that finds pairs and list them in a column. Using A and B as a stand in
def find_pairs(x):
    pairs = pd.DataFrame(list(permutations(x.values,2)),columns=["A","B"])
    return pairs

In [5]:
#Load in the dataset and check the head of the data
dataset=pd.read_csv('Sales_December_2019.csv')
dataset.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Tshirts,1,10.99,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,Jeans,1,78.99,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,Shoes,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001"
3,295668,Sneakers,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,Shoes,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [6]:
#Group the products by Order ID then apply the function 
dataset_combo =dataset.groupby('Order ID')['Product'].apply(find_pairs).reset_index(drop=True)
dataset_combo.head()

       A      B
0  Suits  Shoes
1  Suits  Belts
2  Suits  Socks
3  Shoes  Suits
4  Shoes  Belts

In [7]:
#  Calculate how often each item item_a occurs with the items in item_b
dataset_combo2 =dataset_combo.groupby(['A','B']).size()
dataset_combo2

A        B
Belts    Belts            8
         Caps             3
         Deo              2
         Flip Flops       2
         Formal Shoes     6
                         ..
Watches  Shoes           54
         Shorts           1
         Socks           23
         Thermals         1
         Track Pants      1
Length: 234, dtype: int64

In [8]:
#create a sorted dataframe by the most frequent combinations.
dataset =dataset_combo2.reset_index()
dataset.columns = ['A','B',"Size"]
dataset.sort_values(by='Size',ascending =False, inplace =True)
dataset.head()

               A            B  Size
84       Product      Product  2256
152        Suits        Shoes   122
95         Shoes        Suits   122
181     Thermals  Track Pants   116
192  Track Pants     Thermals   116

In [9]:
#Clean the Product row and check the head of the data
Cleaned_Dataset = dataset[dataset["A"]!="Product"]
Cleaned_Dataset.head()

               A            B  Size
152        Suits        Shoes   122
95         Shoes        Suits   122
181     Thermals  Track Pants   116
192  Track Pants     Thermals   116
191  Track Pants        Socks    67

In [10]:
#Create a combination of groups so that can be used as an alternative to pairing
df2=pd.read_csv('Sales_December_2019.csv')
df2= df2.dropna()
df2 =df2[df2['Order ID'].duplicated(keep=False)]
df2['Group'] = df2.groupby('Order ID')['Product'].transform(lambda x:','.join(x))
df2 =df2[['Order ID', 'Group']].drop_duplicates()
df2.head()

   Order ID                     Group
16   295681   Suits,Shoes,Belts,Socks
36   295698             Watches,Shoes
42   295703             Wallets,Belts
66   295726      Track Pants,Thermals
76   295735  Track Pants,Shorts,Socks

In [11]:
#Count each row combination by the the pairing of the two
count = Counter()
for row in df2['Group']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list,2)))

print(count)

Counter({('Product', 'Product'): 1128, ('Suits', 'Shoes'): 118, ('Track Pants', 'Thermals'): 113, ('Track Pants', 'Socks'): 66, ('Suits', 'Socks'): 56, ('Watches', 'Shoes'): 53, ('Track Pants', 'Shorts'): 52, ('Suits', 'Belts'): 27, ('Shoes', 'Socks'): 25, ('Watches', 'Socks'): 22, ('Shorts', 'Socks'): 13, ('Shoes', 'Thermals'): 11, ('Thermals', 'Socks'): 11, ('Thermals', 'Wallets'): 11, ('Thermals', 'Shoes'): 11, ('Wallets', 'Thermals'): 10, ('Watches', 'Belts'): 10, ('Belts', 'Socks'): 9, ('Socks', 'Socks'): 9, ('Wallets', 'Wallets'): 9, ('Shoes', 'Belts'): 8, ('Formal Shoes', 'Formal Shoes'): 8, ('Wallets', 'Shorts'): 8, ('Shorts', 'Formal Shoes'): 8, ('Thermals', 'Formal Shoes'): 7, ('Wallets', 'Track Pants'): 7, ('Socks', 'Shoes'): 7, ('Formal Shoes', 'Thermals'): 7, ('Shoes', 'Formal Shoes'): 7, ('Socks', 'Shorts'): 7, ('Thermals', 'Belts'): 6, ('Belts', 'Formal Shoes'): 6, ('Thermals', 'Thermals'): 6, ('Formal Shoes', 'Socks'): 6, ('Wallets', 'Formal Shoes'): 5, ('Socks', 'Wallets'): 5, ('Formal Shoes', 'Shoes'): 5, ('Thermals', 'Shorts'): 5, ('Shorts', 'Shorts'): 5, ('Formal Shoes', 'Shorts'): 5, ('Belts', 'Thermals'): 5, ('Socks', 'Formal Shoes'): 5, ('Deo', 'Wallets'): 5, ('Wallets', 'Belts'): 4, ('Shoes', 'Shorts'): 4, ('Shorts', 'Belts'): 4, ('Deo', 'Socks'): 4, ('Thermals', 'Sneakers'): 4, ('Track Pants', 'Formal Shoes'): 4, ('Belts', 'Belts'): 4, ('Formal Shoes', 'Flip Flops'): 4, ('Sneakers', 'Shorts'): 4, ('Formal Shoes', 'Sneakers'): 4, ('Tshirts', 'Shorts'): 4, ('Socks', 'Caps'): 4, ('Shorts', 'Suits'): 4, ('Shoes', 'Suits'): 4, ('Sneakers', 'Formal Shoes'): 4, ('Formal Shoes', 'Wallets'): 4, ('Suits', 'Wallets'): 4, ('Caps', 'Thermals'): 3, ('Jackets', 'Thermals'): 3, ('Shoes', 'Wallets'): 3, ('Tshirts', 'Thermals'): 3, ('Thermals', 'Track Pants'): 3, ('Thermals', 'Suits'): 3, ('Wallets', 'Shoes'): 3, ('Socks', 'Deo'): 3, ('Sunglasses', 'Socks'): 3, ('Shoes', 'Flip Flops'): 3, ('Jackets', 'Wallets'): 3, ('Jackets', 'Formal Shoes'): 3, ('Wallets', 'Flip Flops'): 3, ('Shorts', 'Wallets'): 3, ('Thermals', 'Flip Flops'): 3, ('Wallets', 'Socks'): 3, ('Formal Shoes', 'Tshirts'): 3, ('Belts', 'Wallets'): 3, ('Shoes', 'Sunglasses'): 2, ('Jackets', 'Jackets'): 2, ('Track Pants', 'Wallets'): 2, ('Thermals', 'Deo'): 2, ('Formal Shoes', 'Jackets'): 2, ('Belts', 'Sneakers'): 2, ('Shoes', 'Sneakers'): 2, ('Deo', 'Formal Shoes'): 2, ('Shoes', 'Deo'): 2, ('Suits', 'Formal Shoes'): 2, ('Sunglasses', 'Shoes'): 2, ('Flip Flops', 'Belts'): 2, ('Caps', 'Shoes'): 2, ('Socks', 'Thermals'): 2, ('Shorts', 'Sneakers'): 2, ('Caps', 'Track Pants'): 2, ('Tshirts', 'Formal Shoes'): 2, ('Suits', 'Caps'): 2, ('Belts', 'Caps'): 2, ('Caps', 'Wallets'): 2, ('Flip Flops', 'Flip Flops'): 2, ('Belts', 'Jackets'): 2, ('Shorts', 'Deo'): 2, ('Deo', 'Deo'): 2, ('Socks', 'Suits'): 2, ('Wallets', 'Deo'): 2, ('Deo', 'Thermals'): 2, ('Shorts', 'Shoes'): 2, ('Shorts', 'Thermals'): 2, ('Tshirts', 'Socks'): 2, ('Thermals', 'Sunglasses'): 2, ('Socks', 'Tshirts'): 2, ('Socks', 'Belts'): 2, ('Shoes', 'Jackets'): 1, ('Sneakers', 'Belts'): 1, ('Tshirts', 'Jackets'): 1, ('Tshirts', 'Track Pants'): 1, ('Watches', 'Track Pants'): 1, ('Shoes', 'Track Pants'): 1, ('Tshirts', 'Suits'): 1, ('Flip Flops', 'Thermals'): 1, ('Jackets', 'Caps'): 1, ('Shorts', 'Sunglasses'): 1, ('Flip Flops', 'Watches'): 1, ('Formal Shoes', 'Sunglasses'): 1, ('Sunglasses', 'Sneakers'): 1, ('Watches', 'Jackets'): 1, ('Shorts', 'Watches'): 1, ('Thermals', 'Caps'): 1, ('Belts', 'Shorts'): 1, ('Deo', 'Suits'): 1, ('Sunglasses', 'Belts'): 1, ('Socks', 'Jeans'): 1, ('Track Pants', 'Caps'): 1, ('Flip Flops', 'Track Pants'): 1, ('Flip Flops', 'Formal Shoes'): 1, ('Sneakers', 'Shoes'): 1, ('Shoes', 'Shoes'): 1, ('Shoes', 'Caps'): 1, ('Tshirts', 'Sneakers'): 1, ('Formal Shoes', 'Track Pants'): 1, ('Sneakers', 'Socks'): 1, ('Caps', 'Caps'): 1, ('Suits', 'Jackets'): 1, ('Tshirts', 'Shoes'): 1, ('Flip Flops', 'Tshirts'): 1, ('Socks', 'Watches'): 1, ('Sneakers', 'Wallets'): 1, ('Sneakers', 'Caps'): 1, ('Wallets', 'Tshirts'): 1, ('Caps', 'Shorts'): 1, ('Caps', 'Formal Shoes'): 1, ('Tshirts', 'Caps'): 1, ('Belts', 'Watches'): 1, ('Shoes', 'Watches'): 1, ('Flip Flops', 'Shoes'): 1, ('Deo', 'Sneakers'): 1, ('Tshirts', 'Wallets'): 1, ('Watches', 'Caps'): 1, ('Suits', 'Thermals'): 1, ('Thermals', 'Tshirts'): 1, ('Shorts', 'Jackets'): 1, ('Watches', 'Flip Flops'): 1, ('Jackets', 'Shorts'): 1, ('Caps', 'Belts'): 1, ('Socks', 'Track Pants'): 1, ('Wallets', 'Sunglasses'): 1, ('Sunglasses', 'Flip Flops'): 1, ('Suits', 'Shorts'): 1, ('Sneakers', 'Thermals'): 1, ('Thermals', 'Jeans'): 1, ('Formal Shoes', 'Deo'): 1, ('Sneakers', 'Flip Flops'): 1, ('Thermals', 'Watches'): 1, ('Thermals', 'Jackets'): 1, ('Jackets', 'Shoes'): 1, ('Socks', 'Sneakers'): 1, ('Deo', 'Flip Flops'): 1, ('Wallets', 'Jackets'): 1, ('Belts', 'Track Pants'): 1, ('Belts', 'Deo'): 1, ('Flip Flops', 'Wallets'): 1, ('Shoes', 'Tshirts'): 1, ('Formal Shoes', 'Suits'): 1, ('Socks', 'Flip Flops'): 1, ('Tshirts', 'Deo'): 1, ('Belts', 'Shoes'): 1, ('Deo', 'Belts'): 1})

In [12]:
#check out the most common combination. 
for key, value in count.most_common(10):
    print(key,value)

('Product', 'Product') 1128
('Suits', 'Shoes') 118
('Track Pants', 'Thermals') 113
('Track Pants', 'Socks') 66
('Suits', 'Socks') 56
('Watches', 'Shoes') 53
('Track Pants', 'Shorts') 52
('Suits', 'Belts') 27
('Shoes', 'Socks') 25
('Watches', 'Socks') 22